src/Project ICT 4 - Medicine Planner (C#)/MedAgent 0.1/MedAgent 0.1/Service References/MedCareCloudServiceReference/MedPlanService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://medcarecloudservice.cloudapp.net/MedPlanService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SilverlightApplication3.Web.Model" />
  <xs:import schemaLocation="http://medcarecloudservice.cloudapp.net/MedPlanService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SilverlightApplication3.Web.Model" minOccurs="0" name="GetAllUsersResult" nillable="true" type="q1:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPatientsForDoctor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DocID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPatientsForDoctorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SilverlightApplication3.Web.Model" minOccurs="0" name="GetAllPatientsForDoctorResult" nillable="true" type="q2:ArrayOfPatient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pswd_hash" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SilverlightApplication3.Web.Model" minOccurs="0" name="LoginResult" nillable="true" type="q3:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass_hash" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="sex" type="q4:char" />
        <xs:element minOccurs="0" name="docID" type="xs:int" />
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="type" type="q5:char" />
        <xs:element minOccurs="0" name="bday" type="xs:dateTime" />
        <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ssn" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateNewUserResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PatientEmail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PatientFName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DoctorLName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PatientPass" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendEmailResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePrescription">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DrugName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="StartDarte" type="xs:dateTime" />
        <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Quantity" type="xs:int" />
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="Time1" type="q6:duration" />
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="Time2" type="q7:duration" />
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="Time3" type="q8:duration" />
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="Time4" type="q9:duration" />
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="Time5" type="q10:duration" />
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="Time6" type="q11:duration" />
        <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Course" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PatientID" type="xs:int" />
        <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="Taken1" type="q12:char" />
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="Taken2" type="q13:char" />
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="Taken3" type="q14:char" />
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="Taken4" type="q15:char" />
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="Taken5" type="q16:char" />
        <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="Taken6" type="q17:char" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePrescriptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreatePrescriptionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatientData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MemberID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatientDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/SilverlightApplication3.Web.Model" minOccurs="0" name="GetPatientDataResult" nillable="true" type="q18:Patient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrescriptionsForPatient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PatientID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrescriptionsForPatientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/SilverlightApplication3.Web.Model" minOccurs="0" name="GetPrescriptionsForPatientResult" nillable="true" type="q19:ArrayOfPrescription" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>