src/Project ICT 4 - Medicine Planner (C#)/MedAgent 0.1/MedAgent 0.1/Service References/MedCareCloudServiceReference/MedPlanService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MedPlanService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://medcarecloudservice.cloudapp.net/MedPlanService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://medcarecloudservice.cloudapp.net/MedPlanService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://medcarecloudservice.cloudapp.net/MedPlanService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SilverlightApplication3.Web.Model" />
      <xsd:import schemaLocation="http://medcarecloudservice.cloudapp.net/MedPlanService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMedPlanService_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IMedPlanService_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IMedPlanService_GetAllUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsers" />
  </wsdl:message>
  <wsdl:message name="IMedPlanService_GetAllUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IMedPlanService_GetAllPatientsForDoctor_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPatientsForDoctor" />
  </wsdl:message>
  <wsdl:message name="IMedPlanService_GetAllPatientsForDoctor_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPatientsForDoctorResponse" />
  </wsdl:message>
  <wsdl:message name="IMedPlanService_GetAllPatientsForNurse_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPatientsForNurse" />
  </wsdl:message>
  <wsdl:message name="IMedPlanService_GetAllPatientsForNurse_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPatientsForNurseResponse" />
  </wsdl:message>
  <wsdl:message name="IMedPlanService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IMedPlanService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IMedPlanService_CreateNewUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewUser" />
  </wsdl:message>
  <wsdl:message name="IMedPlanService_CreateNewUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewUserResponse" />
  </wsdl:message>
  <wsdl:message name="IMedPlanService_SendEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:SendEmail" />
  </wsdl:message>
  <wsdl:message name="IMedPlanService_SendEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IMedPlanService_CreatePrescription_InputMessage">
    <wsdl:part name="parameters" element="tns:CreatePrescription" />
  </wsdl:message>
  <wsdl:message name="IMedPlanService_CreatePrescription_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreatePrescriptionResponse" />
  </wsdl:message>
  <wsdl:message name="IMedPlanService_GetPatientData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPatientData" />
  </wsdl:message>
  <wsdl:message name="IMedPlanService_GetPatientData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPatientDataResponse" />
  </wsdl:message>
  <wsdl:message name="IMedPlanService_GetUserData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserData" />
  </wsdl:message>
  <wsdl:message name="IMedPlanService_GetUserData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserDataResponse" />
  </wsdl:message>
  <wsdl:message name="IMedPlanService_GetPrescriptionsForPatient_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPrescriptionsForPatient" />
  </wsdl:message>
  <wsdl:message name="IMedPlanService_GetPrescriptionsForPatient_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPrescriptionsForPatientResponse" />
  </wsdl:message>
  <wsdl:message name="IMedPlanService_GetDocInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDocInfo" />
  </wsdl:message>
  <wsdl:message name="IMedPlanService_GetDocInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDocInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IMedPlanService_DropUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:DropUsers" />
  </wsdl:message>
  <wsdl:message name="IMedPlanService_DropUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:DropUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IMedPlanService_DropMeds_InputMessage">
    <wsdl:part name="parameters" element="tns:DropMeds" />
  </wsdl:message>
  <wsdl:message name="IMedPlanService_DropMeds_OutputMessage">
    <wsdl:part name="parameters" element="tns:DropMedsResponse" />
  </wsdl:message>
  <wsdl:message name="IMedPlanService_UpdatePrescriptionData_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePrescriptionData" />
  </wsdl:message>
  <wsdl:message name="IMedPlanService_UpdatePrescriptionData_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePrescriptionDataResponse" />
  </wsdl:message>
  <wsdl:portType name="IMedPlanService">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IMedPlanService/DoWork" message="tns:IMedPlanService_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMedPlanService/DoWorkResponse" message="tns:IMedPlanService_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IMedPlanService/GetAllUsers" message="tns:IMedPlanService_GetAllUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMedPlanService/GetAllUsersResponse" message="tns:IMedPlanService_GetAllUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPatientsForDoctor">
      <wsdl:input wsaw:Action="http://tempuri.org/IMedPlanService/GetAllPatientsForDoctor" message="tns:IMedPlanService_GetAllPatientsForDoctor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMedPlanService/GetAllPatientsForDoctorResponse" message="tns:IMedPlanService_GetAllPatientsForDoctor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPatientsForNurse">
      <wsdl:input wsaw:Action="http://tempuri.org/IMedPlanService/GetAllPatientsForNurse" message="tns:IMedPlanService_GetAllPatientsForNurse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMedPlanService/GetAllPatientsForNurseResponse" message="tns:IMedPlanService_GetAllPatientsForNurse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IMedPlanService/Login" message="tns:IMedPlanService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMedPlanService/LoginResponse" message="tns:IMedPlanService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateNewUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IMedPlanService/CreateNewUser" message="tns:IMedPlanService_CreateNewUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMedPlanService/CreateNewUserResponse" message="tns:IMedPlanService_CreateNewUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IMedPlanService/SendEmail" message="tns:IMedPlanService_SendEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMedPlanService/SendEmailResponse" message="tns:IMedPlanService_SendEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreatePrescription">
      <wsdl:input wsaw:Action="http://tempuri.org/IMedPlanService/CreatePrescription" message="tns:IMedPlanService_CreatePrescription_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMedPlanService/CreatePrescriptionResponse" message="tns:IMedPlanService_CreatePrescription_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPatientData">
      <wsdl:input wsaw:Action="http://tempuri.org/IMedPlanService/GetPatientData" message="tns:IMedPlanService_GetPatientData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMedPlanService/GetPatientDataResponse" message="tns:IMedPlanService_GetPatientData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserData">
      <wsdl:input wsaw:Action="http://tempuri.org/IMedPlanService/GetUserData" message="tns:IMedPlanService_GetUserData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMedPlanService/GetUserDataResponse" message="tns:IMedPlanService_GetUserData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPrescriptionsForPatient">
      <wsdl:input wsaw:Action="http://tempuri.org/IMedPlanService/GetPrescriptionsForPatient" message="tns:IMedPlanService_GetPrescriptionsForPatient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMedPlanService/GetPrescriptionsForPatientResponse" message="tns:IMedPlanService_GetPrescriptionsForPatient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDocInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IMedPlanService/GetDocInfo" message="tns:IMedPlanService_GetDocInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMedPlanService/GetDocInfoResponse" message="tns:IMedPlanService_GetDocInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DropUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IMedPlanService/DropUsers" message="tns:IMedPlanService_DropUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMedPlanService/DropUsersResponse" message="tns:IMedPlanService_DropUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DropMeds">
      <wsdl:input wsaw:Action="http://tempuri.org/IMedPlanService/DropMeds" message="tns:IMedPlanService_DropMeds_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMedPlanService/DropMedsResponse" message="tns:IMedPlanService_DropMeds_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePrescriptionData">
      <wsdl:input wsaw:Action="http://tempuri.org/IMedPlanService/UpdatePrescriptionData" message="tns:IMedPlanService_UpdatePrescriptionData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMedPlanService/UpdatePrescriptionDataResponse" message="tns:IMedPlanService_UpdatePrescriptionData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMedPlanService" type="tns:IMedPlanService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IMedPlanService/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <soap:operation soapAction="http://tempuri.org/IMedPlanService/GetAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPatientsForDoctor">
      <soap:operation soapAction="http://tempuri.org/IMedPlanService/GetAllPatientsForDoctor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPatientsForNurse">
      <soap:operation soapAction="http://tempuri.org/IMedPlanService/GetAllPatientsForNurse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IMedPlanService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNewUser">
      <soap:operation soapAction="http://tempuri.org/IMedPlanService/CreateNewUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendEmail">
      <soap:operation soapAction="http://tempuri.org/IMedPlanService/SendEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreatePrescription">
      <soap:operation soapAction="http://tempuri.org/IMedPlanService/CreatePrescription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPatientData">
      <soap:operation soapAction="http://tempuri.org/IMedPlanService/GetPatientData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserData">
      <soap:operation soapAction="http://tempuri.org/IMedPlanService/GetUserData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPrescriptionsForPatient">
      <soap:operation soapAction="http://tempuri.org/IMedPlanService/GetPrescriptionsForPatient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocInfo">
      <soap:operation soapAction="http://tempuri.org/IMedPlanService/GetDocInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DropUsers">
      <soap:operation soapAction="http://tempuri.org/IMedPlanService/DropUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DropMeds">
      <soap:operation soapAction="http://tempuri.org/IMedPlanService/DropMeds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePrescriptionData">
      <soap:operation soapAction="http://tempuri.org/IMedPlanService/UpdatePrescriptionData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MedPlanService">
    <wsdl:port name="BasicHttpBinding_IMedPlanService" binding="tns:BasicHttpBinding_IMedPlanService">
      <soap:address location="http://medcarecloudservice.cloudapp.net/MedPlanService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>