src/Project ICT 4 - Medicine Planner (C#)/MedAgent 0.1/MedAgent 0.1/Service References/MedCareCloudServiceReference/MedPlanService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/SilverlightApplication3.Web.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SilverlightApplication3.Web.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://medcarecloudservice.cloudapp.net/MedPlanService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="FName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MemberID" type="xs:int" />
      <xs:element minOccurs="0" name="UserType" type="ser:char" />
      <xs:element minOccurs="0" name="bday" type="xs:dateTime" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pass_hash" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sex" type="ser:char" />
      <xs:element minOccurs="0" name="ssn" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfPatient">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Patient" nillable="true" type="tns:Patient" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPatient" nillable="true" type="tns:ArrayOfPatient" />
  <xs:complexType name="Patient">
    <xs:sequence>
      <xs:element minOccurs="0" name="DocID" type="xs:int" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MemberID" type="xs:int" />
      <xs:element minOccurs="0" name="PatientID" type="xs:int" />
      <xs:element minOccurs="0" name="Sex" type="ser:char" />
      <xs:element minOccurs="0" name="Ssn" type="xs:long" />
      <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="bDay" type="xs:dateTime" />
      <xs:element minOccurs="0" name="phoneNumber" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Patient" nillable="true" type="tns:Patient" />
  <xs:complexType name="ArrayOfPrescription">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Prescription" nillable="true" type="tns:Prescription" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPrescription" nillable="true" type="tns:ArrayOfPrescription" />
  <xs:complexType name="Prescription">
    <xs:sequence>
      <xs:element minOccurs="0" name="Course" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DrugName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PatientID" type="xs:int" />
      <xs:element minOccurs="0" name="PrescriptionID" type="xs:int" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Taken1" type="ser:char" />
      <xs:element minOccurs="0" name="Taken2" type="ser:char" />
      <xs:element minOccurs="0" name="Taken3" type="ser:char" />
      <xs:element minOccurs="0" name="Taken4" type="ser:char" />
      <xs:element minOccurs="0" name="Taken5" type="ser:char" />
      <xs:element minOccurs="0" name="Taken6" type="ser:char" />
      <xs:element minOccurs="0" name="Time1" type="ser:duration" />
      <xs:element minOccurs="0" name="Time2" type="ser:duration" />
      <xs:element minOccurs="0" name="Time3" type="ser:duration" />
      <xs:element minOccurs="0" name="Time4" type="ser:duration" />
      <xs:element minOccurs="0" name="Time5" type="ser:duration" />
      <xs:element minOccurs="0" name="Time6" type="ser:duration" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Prescription" nillable="true" type="tns:Prescription" />
  <xs:complexType name="Doctor">
    <xs:sequence>
      <xs:element minOccurs="0" name="DoctorID" type="xs:int" />
      <xs:element minOccurs="0" name="MemberID" type="xs:int" />
      <xs:element minOccurs="0" name="Speciality" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Doctor" nillable="true" type="tns:Doctor" />
</xs:schema>